name: testing-push
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    container: cypress/browsers:node14.17.0-chrome87-ff82
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.0 # use the explicit version number
        with:
          build: yarn build
          start: yarn start
